
.pane-log{
    -fx-background-radius: 40px;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 10, 0, 0, 0);
}
.btn{
    -fx-border-radius: 12px;
}
.button-one{
    -fx-background-radius: 12px;
}
.button-two:hover{
    -fx-background-radius: 12px;
    -fx-background-color: #E43C2E;
}
.pane-one{
    -fx-background-radius: 10px;
}
.pane-two{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 2, 0, 0, 0);
    -fx-background-radius: 12px;
}
.pane-tree{
    -fx-background-radius: 12px;
}
.text-search{
    -fx-background-radius: 30px;
}
.text-search:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 2, 0, 0, 0);
}

/*----------------------------------------------------*/
.table-view {
    -fx-background-color:white;
    -fx-text-alignment: center;

}
.table-view .column-header {
    -fx-background-color: white;
}
.table-view .column-header .label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 12px;

}
.table-view.table-cell {
    -fx-alignment: center;
}
.table-view:row-selection {
    -fx-background-color: white;
    -fx-text-fill: white;
    -fx-fixed-cell-size: 35;
    -fx-alignment: CENTER;
    -fx-text-alignment: center;
    -fx-font-size: 14px;

}
.table-view .table-row-cell:selected *{
    -fx-font-weight: bold;
    -fx-border-radius: 12px;
    -fx-border-width: 2px;
    -fx-border-color: #5773F1;
    -fx-text-fill: black;
    -fx-background-color: white ;
}
.table-view .table-row-cell:hover *{
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-background-color: white ;
}
.table-view .table-column{
    -fx-text-alignment: center;
    -fx-alignment: CENTER;
}
/*----------------------------------------------------*/

.text-field{
    -fx-border-radius: 3px;
}
.btn-check{
    -fx-border-color:  #5773F1;

}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane
{
    -fx-tab-min-width:90px;
}

.tab{
    -fx-background-insets: 0 1 0 1,0,0;
}
.tab-pane .tab
{
    -fx-background-color: white;

}

.tab-pane .tab:selected
{
    -fx-background-color: #22353F;
}

.tab .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: #828282;
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}
